/* Universal box sizing */
* {
    box-sizing: border-box;
}

/* Basic page styles */
body {
    background-color: #FCEBB6;
    background-image: url(images/A5JavaJamStarterImages/fadedroad50.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #221811;
    font-family: 'Bitcount Single';
    margin: 0;
    padding: 0;
}

/* Wrapper */
#wrapper {
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    box-shadow: 5px 5px 5px #1b1111;
}

/* Header */
header {
    background-color: #D2B48C;
    background-repeat: no-repeat;
    padding-left: 240px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #231814;
}

/* Header links */
header a {
    text-decoration: none;
}

header a:link,
header a:visited {
    color: #231814;
}

header a:hover {
    color: #FEF6C2;
}

/* Headings */
h1, h2 {
    font-family: 'Rubik Storm';
}

h1 {
    font-size: 3em;
}

h2 {
    color: #8C3826;
}

h3, dt {
    color: #8C3826;
}

/* Navigation (LEFT COLUMN) */
nav {
    float: left;
    width: 200px;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 5px;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #FEF6C2;
}

nav a:visited {
    color: #D2B48C;
}

nav a:hover {
    color: #CC9933;
}

/* Main Content (RIGHT COLUMN) */
main {
    margin-left: 200px;
    padding: 0;
    background-color: #FEF6C2;
    overflow: auto;
}

/* Add padding back inside main */
main h2,
main h3,
main h4,
main p,
main div,
main ul,
main dl {
    padding-left: 3em;
    padding-right: 2em;
}

/* Hero Images */
#homehero {
    height: 300px;
    background-image: url(images/A5JavaJamStarterImages/hero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#heromugs {
    height: 300px;
    background-image: url(images/A5JavaJamStarterImages/mugs.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#heroguitar {
    height: 300px;
    background-image: url(images/A5JavaJamStarterImages/hero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* h4 styling (Music page) */
h4 {
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
    padding-bottom: 0;
    clear: left;
}

/* Float class for music thumbnails */
.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

/* Details section */
.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

/* Three-column layout for menu */
.onethird {
    float: left;
    width: 33%;
}

/* Images */
img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

/* Footer */
footer {
    background-color: #D2B48C;
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    border-top: 2px solid #8C3826;
}
